body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

/* NAVBAR */

header{
background:#0a0a0a;
padding:15px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
list-style:none;
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
}

/* BUSCADOR */

.search input{
padding:6px;
border-radius:5px;
border:none;
}

.search button{
padding:6px 10px;
border:none;
border-radius:5px;
cursor:pointer;
}

/* CONTENIDO */

main{
padding:20px;
}

.games{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.card{
background:#1c1c1c;
padding:15px;
border-radius:10px;
}

/* FOOTER */

footer{
background:#000;
text-align:center;
padding:20px;
margin-top:40px;
}
